---
import Body from '~/layouts/Default.astro';

const title = 'Hello Nice World';
const writings = await Astro.glob('./**/*.mdx');
---

<Body title={title} description="Description">
    <pre class="">
    </pre>
</Body>
