---
import Body from "~/layouts/Default.astro"
---
<Body class="flex items-center justify-center" title="404 - Portfolio website | Page can't be found." description="This page not listed in our website.">
  <div class="">
    <h1 class="text-lg sm:text-4xl"> 404 | This page could not be found. </h1>
  </div>
</Body>
